* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@100;200;300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}
:root {
  --link-nav-color: #cdad5c;
  --link-area-cliente-color: #8b8b8b;
  --color-description: #282828;

  --font-secundary: font-family: 'Piazzolla', serif;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#main-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  visibility: visible;
  z-index: 50;

  .container {
    position: relative;
  }

  .links {
    position: absolute;
    top: 100px;
    right: 0;
    display: flex;
    align-items: center;

    @media(max-width: 1024px) {
      left: 20em;
    }

    @media(max-width: 768px) {
      left: 13em; 
    }

    @media(max-width: 414px) {
      left: 3.3em;
    }

    .navigation {
      ul {
        display: flex;
        li {
          padding: 1em;
          a {
            font-size: 15px;
            font-weight: 300;
            color: var(--link-area-cliente-color);
            transition: 0.4s;
            &:hover {
              color: var(--link-nav-color);
            }
          }
        }
      }
    }
  }
  .social {
    ul {
      display: flex;
      align-items: center;
      
      li{
        padding: 1em;
        filter: grayscale(100);
        transition: .4s;
        &:hover {
          filter: grayscale(0);
        }

        img {
          width: 20px;
        }
      }
    }
    @media(max-width: 414px) {
     display: none;
    }
  }
  .flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 170px;

    .navigation {
      ul {
        display: flex;
        align-items: center;

        li {
          padding: 2.5em;
          a {
            font-size: 15px;
            font-weight: 300;
            color: var(--link-nav-color);
            transition: 0.4s;
            &:hover {
              color: #fff;
            }
          }
        }
      }

      @media(max-width: 414px) {
        display: none;
      }
    }
  }
}

#page-home {
  opacity: 1;
  visibility: visible;
  overflow: hidden;

  .page-background {
    width: 100%;
    overflow: hidden;
    background-image: url(../img/page-background-1.jpg);
    position: relative;
    background-position: top center;
    background-size: cover;

    .section-hero {
      .container {
        position: relative;
      }

      .wrapper {
        width: 100%;
        height: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &-title {
          color: #fff;
          font-size: 70px;
          font-weight: 100;
          letter-spacing: 2px;
          margin-top: 3em;
          text-transform: uppercase;
          text-align: center;
          line-height: 140%;

          @media(max-width: 414px) {
            font-size: 50px;
          }
        }
      }
    }
  }

  .section-about {
    padding: 0 0 130px;

    .container {
      position: relative;
    }
    
    .flex-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      .wrapper {
        position: relative;
  
        &-background {
          position: absolute;
          top: -3em;
          left: -3em;
        }
        &-image {
          position: relative;
          img {
            width: 330px;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .description {
       color: #fff;
       font-size: 20px;
       font-weight: 300;
       text-align: center;
       padding-top: 6em;

       @media(max-width: 1024px) {
         width: 80%;
       }

      }
    }

    .flex-wrapper:nth-child(2) {
        display: flex;
        align-items: center;
        flex-direction: row;

        @media(max-width: 768px) {
          flex-direction: column;
        }

      .left {
        position: relative;
        margin-right: 6em;

        @media(max-width: 414px) {
          order: 2;
          padding: 1em;
        }
        
        &-background {
          position: absolute;
          top: 15em;
          left: 4em;
          z-index: 1;

          @media(max-width: 414px) {
            display: none;
          }
        }

        &-image {
          position: relative;
          top: 0;
          z-index: 2;

          @media(max-width: 414px) {
            left: 1.5em;
            img {
              width: 400px;
              height: 500px;
            }
          }
        }
      }

      .right {
        @media(max-width: 414px) {
          padding: 5em 0;
        }
        &-title {

          img {
            @media(max-width: 1024px) {
              margin: 0 -6em;
              width: 100%;
            }

            @media(max-width: 768px) {
              margin: 0 auto;
            }
          }

        }
        
        &-description {
          margin: 0 -4em;
          width: 100%;
          text-align: start;
   
          p {
            color: #fff;
            font-size: 20px;
            font-weight: 300;
          }

          @media(max-width: 768px) {
            margin: 0 auto;
            width: 90%;
          }
        }
      }

    }
  }

  .section-blocks {
    padding: 0 0 130px;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
      position: relative;
    }

    .flex-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 5em;

      @media(max-width: 1024px) {
        align-items: unset;
      }

      @media(max-width: 414px) {
        flex-direction: column;
      }

      .column {

        &-title {
          font-size: 18px;
          font-weight: 500;
          text-transform: uppercase;

          &::before {
            content: '';
            background: var(--link-nav-color);
            width: 75px;
            height: 2px;
            position: absolute;
            top: -1em;
            left: -1.5em;

            @media(max-width: 414px) {
              left: -0.1em;
            }
          }
        }

        &-description {
          padding-top: 2em;
          font-size: 16px;
          font-weight: 500;
          line-height: 25px;
          color: var(--color-description);
        }
      }

      .column {
        position: relative;
        margin: 0 2em;

        @media(max-width: 1024px) {
          margin: 0 5em;
        }

        position: relative;
        @media(max-width: 414px) {
          margin: 1.5em;
        }


        &-title {
          position: relative;
          

          &::before:nth-child(2) {
            content: '';
            background: var(--link-nav-color);
            width: 75px;
            height: 2px;
            position: absolute;
          }
        }
      }
    }
  }
  .section-solutions {
    padding: 0 0 135px;
    background-image: url(../img/page-background-2.jpg);
    background-position: top center;
    background-size: cover;

    @media(max-width: 768px) {
      background: #c8aa6f;
    }

    @media(max-width: 414px) {
      padding: 0 0 358px;
    }
    .container {
      position: relative;
    }

    .flex-wrapper {
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      .left {
        width: 700px;
        padding: 4em 0;

        &-title {
          color: #fff;
          font-size: 70px;
          font-weight: 500;

          @media(max-width: 1024px) {
            font-size: 34px;
            margin: 0 2.5em;
          }

          @media(max-width: 414px) {
            position: relative;
            left: -0.5em;
          }
          @media(max-width: 375px) {
            left: -0.9em;
            width: 40%;
            text-align: start;
          }
        }

        &-description {
          padding: 2em 0;
          color: #fff;
          font-size: 18px;

          @media(max-width: 1024px) {
            margin: 0 5em;
            width: 63%;
          }

          @media(max-width: 768px) {
            width: 80%;
          }

          @media(max-width: 414px) {
            position: relative;
            left: -3em;
            width: 50%;
          }

          @media(max-width: 375px) {
            left: -4.5em;
          }
        }
      }

      .right {
        height: 100px;

        &-background {
          position: absolute;
          top: -2em;
          left: 50em;
          right: 0;
          z-index: 1;
          display: flex;

          @media(max-width: 1024px) {
            left: 38em;     
            
            img {
              width: 80%;
            }
          }
          
          @media(max-width: 768px) {
            display: none;
          }
        }

        &-image {
          position: relative;
          top: -62em;
          left: 42em;
          right: 0;
          z-index: 2;

          @media(max-width: 1024px) {
            top: -74.2em;
            left: 33em;

            img {
              width: 70%;
            }
          }

          @media(max-width: 768px) {
            display: none;
          }
        }

        &-title {
          color: #fff;
          font-size: 40px;
          font-weight: 500;
        }

        &-description {
          color: #fff;
          font-size: 18px;
          padding-top: 4em;

        }
      }
    }

    .left-features {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 50px;
      grid-row-gap: 95px;
      width: 580px;
      margin-top: 100px;

      @media(max-width: 1024px) {
        margin: 5em 14em;
      }
      
      @media(max-width: 768px) {
        margin: 0 auto;
      }

      @media(max-width: 414px) {
        grid-template-columns: 1fr;
        width: 80%;
      }
      .item {
        position: relative;
        color: #fff;
        font-size: 20px;
        border: 2px solid #fff;
        border-top: unset;
        border-radius: 0 0 30px 0;

        img {
          position: relative;
          top: -2.5em;
          left: 5em;

          @media(max-width: 414px) {
            left: 6.6em;
          }

          @media(max-width: 375px) {
            left: 5.8em;
          }
        }
        
        &::before {
          content: '';
          width: calc(50% - 40px);
          height: 21px;
          position: absolute;
          top: -21px;
          left: -2px;
          border: 2px solid #fff;
          border-right: unset;
          border-bottom: unset;
          border-radius: 30px 0 0 0; 
        }

        &::after {
          content: "";
          width: calc(50% - 40px);
          height: 21px;
          position: absolute;
          top: -21px;
          right: -2px;
          border: 2px solid #fff;
          border-left: unset;
          border-bottom: unset;
        }

        &-title {
          text-align: center;
          font-weight: 500;
          margin: -1em;
        }

        &-description {
          padding: 1.5em;
          font-weight: 300;
          text-align: center;

          ul {
            display: flex;
            align-items: center;
            flex-direction: column;

            li {
              position: relative;
              padding-left: 10px;
              line-height: 1.5;

              &::before {
                content: '';
                background: #fff;
                width: 5px;
                height: 5px;
                position: absolute;
                top: 5px;
                left: -10px;
                border-radius: 50%;                
              }
            }
          }
        }
      }
    }

    .flex-wrapper:nth-child(2) {
      display: flex;
      flex-direction: row;
      align-items: center;

      @media(max-width: 768px) {
        flex-direction: column;
      }
        .left {
          position: relative;

          &-background {
            position: absolute;
            top: 3em;
            left: -4em;
            right: 0;
            z-index: 1;

            @media(max-width: 768px) {
              img {
                width: 350px;
                height: 250px;
                object-fit: cover;
                margin-left: 10em;
              }
            }
          }
  
          &-image {
            position: relative;
            top: 0;
            left: 0;
            z-index: 2;
            @media(max-width: 768px) {
              img {
                width: 350px;
                height: 250px;
                object-fit: cover;
                margin-left: 11em;
              }

            }
          }
        }

        .right {
          padding-top: 2em;

          @media(max-width: 1024px) {

            &-title {
              margin: -3em 1em;
              font-size: 28px;
            }
  
            &-description {
              margin: 5em 2.3em;
            }
          }

          @media(max-width: 414px) {
            padding-top: 3em;
          }
        }
      }
    }

  .section-partners {
    padding: 0 0 135px;

    .container {
      position: relative;
    }
    .section-title {
      color: var(--color-description);
      font-size: 20px;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
      padding-top: 5em;

      @media(max-width: 414px) {
        text-align: center;
      }
    }

    .flex-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      @media(max-width: 414px) {
        flex-direction: column;
        margin: 0 1em;
      }
      .item {
        padding-top: 5em;
        margin-right: 80px;

        @media(max-width: 414px) {
          margin: 0 1em;
        }

        &-image {

          img {
            display: flex;
            width: 100%;
            max-width: 150px;
          }
        }
      }
    }
  }
  .section-contact {
    background-image: url(../img/page-background-3.jpg);
    background-position: center;
    background-size: cover;
    padding: 0 0 135px;

    @media(max-width: 768px) {
      height: 125vh;
      background: #2c2c2c;
    }
    @media(max-width: 414px) {
      height: 154vh;
    }
    @media(max-width: 375px) {
      height: 170vh;
    }
    .container {
      position: relative;
    }

    .flex-wrapper {
      display: flex;
      position: relative;

      @media(max-width: 414px) {
        width: 500px;
        flex-direction: column;
      }
      .left {
        position: relative;

        @media(max-width: 1024px) {
          left: 3em;
          width: 310px;
          height: 310px;
        }

        @media(max-width: 375px) {
          left: 0;
        }
        
        &-images {
          width: 500px;
          height: 500px;

          @media(max-width: 768px) {
            padding: 0 9em;
          }
         
          .item {
            position: relative;
            top: -3em;

            @media(max-width: 414px) {
              top: -4em;
              left: -113px; 
              img {
                width: 50%;
              }
            }
          }

          .item:nth-child(2) {
            position: relative;
            top: -18em;
            left: 9em; 

            @media(max-width: 414px) {
              top: -15em;
              left: 0em; 
              img {
                width: 100%;
              }
            }
          }

          .item:nth-child(3) {
            position: relative;
            top: -22em;
            left: 0;

            @media(max-width: 414px) {
              top: -17em;
              left: -5em; 
              img {
                width: 100%;
              }
            }
          }
        }
      }

      .right {
        position: relative;
        top: 0;
        left: 18em;

        @media(max-width: 1024px) {
          left: 16em;
        }

        
        @media(max-width: 768px) {
          top: 19em;
          left: -9em;
          width: 100%;          
        }

        @media(max-width: 414px) {
          top: -9em;
          left: 1em;
        }

        @media(max-width: 375px) {
          left: 0;
        }

        &-title {
          font-family: var(--font-secundary);
          color: var(--link-nav-color);
          font-size: 32px;
          font-weight: 500;
          padding-top: 5em;

          @media(max-width: 375px) {
            font-size: 24px;
          }
        }

        &-form {
          position: relative;
          top: -9em;

          fieldset {
            padding-top: 12em;
            border: none;
            display: flex;
            flex-direction: column;

            input {
              padding: 1em;
              width: 100%;
              background: transparent;
              border-top: none;
              border-left: none;
              border-right: none;
              border-bottom: 1px solid var(--link-area-cliente-color);
              color: var(--link-nav-color);

              @media(max-width: 414px) {
                width: 74%;
              }

              &:focus {
                box-shadow: 0 0 0 0;
                outline: 0;
              }
            }

            textarea {
              padding: 1em;
              width: 100%;
              background: transparent;
              border-top: none;
              border-left: none;
              border-right: none;
              border-bottom: 1px solid var(--link-area-cliente-color);
              color: var(--link-nav-color);
              
              &:focus {
                box-shadow: 0 0 0 0;
                outline: 0;
              }

              @media(max-width: 414px) {
                width: 74%;
              }
            }

            .fieldset-submit {
              display: flex;
              justify-content: center;
              padding: 1em;
              transition: 0.8s;

              &:hover {
                color: var(--link-area-cliente-color);
                filter: grayscale(100%);                
              }

              button {
                background: transparent;
                border: none;
                cursor: pointer;
                display: flex;
                align-items: center;
                position: absolute;
                
                span {
                  color: var(--link-nav-color);
                  font-weight: 700;
                  padding: 1em;  
                }  
                
                @media(max-width: 414px) {
                  margin-right: 9em;
                }
              }
            }
          }
        }
      }
    }

    .flex-wrapper:nth-child(2) {
      display: flex;
      justify-content: center;

      @media(max-width: 768px) {
        top: 15em;
        flex-direction: column;
        align-items: center;   
      }

      @media(max-width: 414px) {
        position: relative;
        top: 14em;
        left: -4em;
      }
      .item {
        color: var(--link-area-cliente-color);
        padding: 0 1em;
        transition: .5s;
        filter: grayscale(100);
        display: flex;
        align-items: center;
        font-weight: 500;
        
        @media(max-width: 768px) {
         margin: 0 0 30px; 
        }

        &:hover {
          color: var(--link-nav-color);
          filter: grayscale(0);
        }

        &-icon {
          padding: 0 1em;
        }

        &-link {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 4;
        }
      }
    }
  }
}

#main-footer {
  .container {
    position: relative;

    .flex-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media(max-width: 1024px) {
        justify-content: space-around;
      }

      @media(max-width: 768px) {
        flex-direction: column;
        align-items: center;
        padding: 2em;

        .center {
          margin: 0 0 2em;
        }
      }
      .left {
        display: flex;
        padding: 3em 0 ;

        @media(max-width: 414px) {
          flex-direction: column;
        }

        .social {
          padding: 2em 2em;
          
          ul {
            display: flex;
            li {
              padding: 0 1em;
              filter: grayscale(100);
              transition: .4s;
              &:hover {
                filter: grayscale(0);
              }
            }
          }
        }
      }

      .center {
        font-size: 13px;
      }
    }
  }
}
